<html>
<head>
</head>
<body>
<!--1) Single Product example-->
<div id="app">
  <h2> {{ product }} are in stock</h2>
</div>

<!-- 2) multiple Product example-->
<div id="mapp">
 <ul>
   <li v-for="product in products">
     {{ product }}
   </li>
 </ul>
</div>

<!--3) DynamicContent Example--> 
<!-- v-bind-->
<div id="app-2">
 <span v-bind:title="message">
   Hover your mouse over me for a few seconds
   to see my dynamically bound title!
 </span>
</div>

<!-- 4) Conditionals and Loops--> 
<!-- v-if -- >
<div id="app-3">
 <span v-if="seen">Now you see me</span>
</div>

<!-- v-for -->
<div id="app-4">
 <ol>
  <li v-for="todo in todos">
   {{ todo.text }}
 </ol>
</div>

<!--5) USER INTERACTION, INVOKE VUE EVENT--> 
<!-- v-on attaches event listeners to invoke methods --> 
<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<!-- v-model is used for two-way binding between form and app state -->
<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>


<!-- bring in Vue library 
<script src="https://unpkg.com/vue"></script>
-->
<!--development version --> 
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> 
<!-- production version, optimized for size and speed 
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
-->

<script>
// single product 
 const app = new Vue({
  el: '#app',
  data: {
    product: 'Boots'
  }
 })
 
 // multiple products 
 
const appBunch = new Vue({
 el: '#mapp',
 data: {
 	products: [
 		'Boots',
 		'Jacket',
 		'Hiking Socks'
 	]
 }
})

// dynamic content 
var app2 = new Vue({
 el: '#app-2',
 data: {
 	message: 'You loaded this page on ' + new Date().toLocaleString()
 }
})
 
// conditional 
var app3 = new Vue({
 el: '#app-3',
 data:  {
   seen: true
 }
})
// change it in console, app3.seen = false 

// for loop array of dics 
var app4 = new Vue({
 el: '#app-4',
 data: {
 	todos: [
 		{ text: 'Learn JavaScript' },
 		{ text: 'Learn Vue' },
 		{ text: 'Build something awesome' }
 	]
 }
})
// push a new item to list app4.todos.push({ text: 'New item' })

// HANDLING USER INPUT -- Invoke a Vue method
var app5 = new Vue({
  el: '#app-5',
  data: {
    message: 'Hello Vue.js!'
  },
  methods: {
    reverseMessage: function () {
    	this.message = this.message.split('').reverse().join('')
    }
  }
})

// two-way binding FORM
var app6 = new Vue({
  el: '#app-6',
  data: {
  	message: 'Hello Vue!'
  }
})

</script>

<!-- to update in console just do > app.product='Socks'-->

</body>
</html>
